/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f6f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
  margin: 0;
}

/* Form Container */
form {
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

