
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    width: 100%;
    text-align: center;
    overflow: hidden; 
}


nav a {

    display: inline-block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-size: 1.1em;
}


nav a:hover {
    background-color: #575757;
    color: #ffffff; 
}