body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333; 
    
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav a {
    display: block; 
    padding: 16px 20px;
    text-decoration: none;
    color: white; 
}

nav a:hover {
    background-color: #555; 
    color: #ffd700; 
}