body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; 
}

header {
    text-align: center;
    color: #333;
}

.product-container {
    text-align: center;
    padding: 20px;
}

.product-box {
    display: inline-block;
    
    width: 250px;
    vertical-align: top;
     
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;

    padding: 20px;

    margin: 15px;

    text-align: center;

    transition: all 0.3s ease;
}

.product-box:hover {
    outline: 3px solid #007bff; 
    outline-offset: 5px;
    
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}


.product-box img {
    max-width: 100px; 
    height: auto;
    margin-bottom: 15px;
}

.product-box h3 {
    margin-top: 0;
    font-size: 1.25em;
    color: #333;
}

.product-box p {
    font-size: 0.9em;
    color: #666;
    height: 60px; 
}

.product-box .price {
    font-size: 1.2em;
    font-weight: bold;
    color: #008000;
    height: auto;
    margin: 10px 0;
}

.product-box .buy-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.product-box .buy-button:hover {
    background-color: #0056b3;
}